process {
/*
generic process parameters
*/
    executor = 'slurm'
    clusterOptions = '--qos=general'
    queue = 'general'
    memory = '10G' 
    cpus = 4 

/*
named process requirements
*/    
    withName: align_minimap {
        module = 'minimap2/2.22'
        memory = '25G' 
        cpus = 24 
        queue = 'general'
    }
    withName: sam2paf {
        module = 'minimap2/2.22'
        memory = '5G' 
        cpus = 4 
        queue = 'general'
    }
    withName: centrifuge {
        module = 'centrifuge/1.0.4-beta'
        memory = '10G' 
        cpus = 12 
        queue = 'general'
    }
    withName: faidx {
        module = 'samtools/1.12'
        memory = '5G' 
        cpus = 1 
        queue = 'general'
    }    
    withName: indexbam {
        module = 'samtools/1.12'
        memory = '5G' 
        cpus = 1 
        queue = 'general'
    }    
    withName: kat_sect {
        module = 'samtools/1.12'
        module = 'htslib/1.12'
        module = 'bedtools/2.29.0'
        conda = '/home/FCAM/nreid/miniconda3/envs/kat'
        memory = '100G' 
        cpus = 10 
        queue = 'general'
    }    
    withName: medaka_polish {
        conda = '/home/FCAM/nreid/miniconda3/envs/medaka'
        memory = '60G' 
        cpus = 12 
        queue = 'xeon'
    }
    withName: nanoplot {
        module = 'NanoPlot/1.33.0'
        memory = '10G' 
        cpus = 12 
        queue = 'general'
    }
    withName: repeatmodeler_db {
        module = 'RepeatModeler/2.01'
        memory = '50G' 
        cpus = 8 
        queue = 'general'
    }
    withName: repeatmodeler_model {
        module = 'RepeatModeler/2.01'
        memory = '256G' 
        cpus = 32 
        queue = 'general'
    }
    withName: repeatmasker_mask_denovo {
        module = 'RepeatMasker/4.1.2'
        memory = '50G' 
        cpus = 16 
        queue = 'general'
    }
    withName: repeatmasker_mask_taxon {
        module = 'RepeatMasker/4.1.2'
        memory = '50G' 
        cpus = 16 
        queue = 'general'
    }
    // this needs to be updated for non-test data
    // probably need to specify memory requirements on command line
    withName: shasta {
        module = 'shasta/0.7.0'
        memory = '100G' 
        cpus = 36 
        queue = 'general'
        clusterOptions = '--qos=general'  
    }
    withName: sortbam {
        module = 'samtools/1.12'
        memory = '10G' 
        cpus = 8 
        queue = 'general'
    }    
/*
labeled process requirements
*/

    withLabel: busco {
        module = 'busco/5.0.0'
        memory = '60G' 
        cpus = 12 
        queue = 'xeon'
    }
    withLabel: quast {
        module = 'quast/5.0.2'
        memory = '10G' 
        cpus = 8 
        queue = 'general'
    }
    withLabel: purge {
        module = 'quast/5.0.2'
        memory = '10G' 
        cpus = 8 
        queue = 'general'
        module = 'purge_dups/1.2.6:purge_haplotigs/1.1.2:R/4.1.2'
    }
    withLabel: simple{
        memory = 10G
        cpus = 4
    }
}