// base output directory
params.outdir        = 'testresults'

// raw data
params.fundulusONT   = '/core/labs/Wegrzyn/pipeline_test_data/assembly_test_data/fundulus_ONT/male.test.fastq'
params.coralONT      = '/core/labs/Wegrzyn/pipeline_test_data/assembly_test_data/coral_data/coral_ONT/coral_contig_24769_segment0_ONT.fastq'
params.coralILLUMINA = '/core/labs/Wegrzyn/pipeline_test_data/assembly_test_data/coral_data/coral_Illumina/coral_contig_24769_segment0_illuminaPE_R*fastq'

// centrifuge test params
params.centrifugedb         = "/isg/shared/databases/centrifuge/b+a+v+h/p_compressed+h+v"
params.fundulusONT_keepseqs = "/core/labs/Wegrzyn/pipeline_test_data/assembly_test_data/fundulus_ONT/centrifuge_results/keep.txt"

// shasta test params
params.fundulusONT_fasta    = "/core/labs/Wegrzyn/pipeline_test_data/assembly_test_data/fundulus_ONT/male.test.fasta"
params.shasta_config_preset = "Nanopore-Dec2019"
params.shasta_config_file   = "/core/labs/Wegrzyn/pipeline_test_data/assembly_test_data/fundulus_ONT/shasta_test.config"
params.shasta_opts          = "--Reads.minReadLength 500"