params.outdir        = 'testresults'

params.fundulusONT   = '/core/labs/Wegrzyn/pipeline_test_data/assembly_test_data/fundulus_ONT/male.test.fastq'
params.coralONT      = '/core/labs/Wegrzyn/pipeline_test_data/assembly_test_data/coral_data/coral_ONT/coral_contig_24769_segment0_ONT.fastq'
params.coralILLUMINA = '/core/labs/Wegrzyn/pipeline_test_data/assembly_test_data/coral_data/coral_Illumina/coral_contig_24769_segment0_illuminaPE_R*fastq'

params.centrifugedb    = "/isg/shared/databases/centrifuge/b+a+v+h/p_compressed+h+v"